@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  bbva-web-form-text, bbva-web-form-select  {
    margin-bottom: 10px;
  }
  bbva-web-button-default {
    width: 100%;
  }
}
